@model SchoolManagement.BusinessLogic.Dto.StudentDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <input asp-for="MotherName" class="form-control" />
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollementDate" class="control-label"></label>
                <input asp-for="EnrollementDate" class="form-control" />
                <span asp-validation-for="EnrollementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentPhone" class="control-label"></label>
                <input asp-for="ParentPhone" class="form-control" />
                <span asp-validation-for="ParentPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPhone" class="control-label"></label>
                <input asp-for="StudentPhone" class="form-control" />
                <span asp-validation-for="StudentPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassID" class="control-label"></label>
           <select id="ClassID" name="ClassID" class="form-control">
            <option value="">-- Select Class --</option>
            @foreach (var classItem in ViewBag.Classes)
            {
                        var isSelected = Model.ClassID == int.Parse(classItem.Value) ? "selected" : "";
                        <option value="@classItem.Value" isSelected> @classItem.Text</option>
            }
        </select>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProfilePicture" class="w-100"></label>
                    @if (Model.ProfilePicture != null)
                    {
                        <img id="ProfilePicture" alt="profile" class="profile-picture" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))" />
                    }
                    else
                    {
                        <img id="ProfilePicture" alt="profile" class="profile-picture" src="~/images/avatar-male.jpg" />
                    }
                    <div class="custom-file mt-2">
                        <input type="file"
                               accept="image/*"
                               asp-for="PictureFile"
                               class="custom-file-input"
                               onchange="document.getElementById('Picture').src = window.URL.createObjectURL(this.files[0])" />
                        <label class="custom-file-label" asp-for="PictureFile">Choose picture...</label>
                        <span asp-validation-for="PictureFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
