*{
padding: 0;
margin: 0;
color: rgb(245, 242, 242);
font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #2a2a3e;
    display: flex;

}
.img-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(247, 241, 241);
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}
.menu{
    background-color: #123;
    width: 36px;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
    transition: .5s;
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 8px;
    margin: 2px 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .5s;
}
ul li a:hover, .active ,.data-info .box:hover{
    background-color: #ffffff55 ;
}
.log-out{

bottom: 0;
width: 100%;
}
.log-out a{
    background-color: #a00;
}
ul li a i{
    font-size: 20px;
}
.content{
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}
.data-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
} 




/* تحسين تصميم الجدول */
.table-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: auto; /* لجعل الجدول قابلًا للتمرير أفقيًا */
}

table {
    width: 200%;
    min-width: 600px; /* عرض أدنى للجدول */
    border-collapse: collapse;
    background-color: #123;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

thead th {
    background-color: #0481ff;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

tbody td {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #1a1a2e;
}

tbody tr:nth-child(odd) {
    background-color: #2a2a3e;
}

input[type="datetime-local"] {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1a1a2e;
    color: white;
    text-align: center;
}

/* لجعل الجدول متجاوبًا مع الشاشات الصغيرة */
@media screen and (max-width: 768px) {
    thead th, tbody td {
        font-size: 12px; /* تقليل حجم النص */
        padding: 6px; /* تقليل الحشو */
    }

    table {
        font-size: 14px; /* تصغير النص داخل الجدول */
        min-width: 100%; /* عرض كامل للشاشة */
    }

    input[type="datetime-local"] {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    thead th, tbody td {
        font-size: 10px; /* حجم أصغر للشاشات الصغيرة جدًا */
        padding: 4px;
    }

    input[type="datetime-local"] {
        font-size: 14px;
    }
}


/* لجعل الجدول متجاوبًا مع الشاشات الصغيرة */


.profile-container {
    background: 123;
            border: 1px solid #2a2a3e;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(183, 177, 177, 0.1);
            width: 100%;
            max-width: 600px;
            padding: 20px;
            box-sizing: border-box;
            margin: 20px;
}

.profile-container h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #eadfdf;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #f0dede;
    color: #a59c9c;
    border-radius: 90px;
    box-sizing: border-box;
}

.form-group input[type="radio"] {
    width: auto;
    margin-left: 12px;
}

.form-group .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.form-group .radio-group label {
    margin: 0;
}

/* From Uiverse.io by StealthWorm */ 
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
      linear-gradient(
        137.48deg,
        #ffdb3b 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .btn:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #fe53bb;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
select option {
    color: #333; /* Yazı rengi */
    background-color: #f9f9f9; /* Arka plan rengi */
}



/* Vali sayfası*/

.advisor-container {
    background: #2a2a3e;
    border: 1px solid #2a2a3e;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding: 20px;
}

.advisor-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.advisor-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #ccc;
    object-fit: cover;
}

.advisor-header .advisor-info {
    font-size: 18px;
    color: #333;
}

.advisor-header .advisor-info span {
    display: block;
    font-weight: bold;
}

.advisor-details {
    margin-top: 10px;
    line-height: 1.6;
    color: #555;
}

.advisor-details span {
    font-weight: bold;
}

.advisor-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.advisor-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.advisor-links a:hover {
    text-decoration: underline;
}
.category-bar select {
    background-color: #007bff ; /* تغيير لون الخلفية */
    color: #ffffff ; /* تغيير لون النص */
    padding: 8px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 16px;
}

.category-bar select option {
    background-color: #123 ; /* لون خلفية الخيارات */
    color: #ffffff ; /* لون النص داخل الخيارات */
}
